<div class="col-12 linkFont my-col shadow-lg rounded">
<h2>Angemeldete Kurse</h2>
<div *ngIf="getEnrolled == null">
    Keine
</div>
<div class="box" *ngIf="getEnrolled != null">
  <div *ngFor="let courses of getEnrolled">
    <p class="mainSize "><a class="box-link" routerLink="/detail-kurs/{{ courses.id }}"><p>{{ courses.title }} {{courses.uhrzeit}}</p></a></p>
  </div>
</div>
</div>


<div class="col-12 linkFont my-col shadow-lg rounded">
    <h2>News</h2>
    <div *ngIf="news.length == 0">
      Keine neuen Nachrichten vorhanden.
    </div>
    <div class="box" *ngIf="news.length > 0">
      <div *ngFor="let newsentry of news">
          <p class="mainSize "><a class="box-link" routerLink="/detail-news/{{ newsentry.nid }}">{{ courses.title }}</a></p>
      </div>
    </div>
    </div>
    
    <div class="col-12 linkFont my-col shadow-lg rounded">
    <h2>Topkurse</h2>
    <div *ngIf="topcourses.length == 0">
      Keine Topkurse vorhanden.
    </div>
    <div *ngIf="topcourses.length > 0">
      <div *ngFor="let course of topcourses">
        <p class="mainSize "><a class="box-link" routerLink="/detail-topkurs/{{ course.nid }}">{{ course.title }}</a></p>
      </div>
    </div>
    </div>
    