.mainColor{
    background-color: #32475c;
}
.linkColor:hover {
    background-color: #283849;
}
.linkColor{
    background-color: #32475b;
}
.linkColor2:hover{
    background-color: #32475b;
}
a{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
.a1:hover{
    color: #32475c;
}
img{
    width: 100%;
    height: auto;
}
.img2{
    width: 80%;
    height: auto;
}
.fill{
    padding: 0px;
}

.mainFont{
    font-style: normal;
    color: white;
}
.secondFont{
    font-style: normal;
    color: #32475c;
}
.thirdFont{
    font-style: normal;
    color: #1b3691;
}
.linkFont:hover {
    font-style: normal;
    color: white;
}
.mainSize{
    font-size: 16px;
    font-weight: 500;
}
.secondSize{
    font-size: 15px;
    font-weight: 400;
}
.secondSizeBold{
    font-size: 15px;
    font-weight: 500;
}


